<div class="container">

    <section class="wrapper">
        <div id="stars">aaaaaaa</div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="title">
            <span>pure css</span>
            <br>
            <span>Paralax pixel</span>
            </div>
        </section>

    <div class="title">
        <span><h6>Digão</h6></span>
        <br>
    </div>

    <div class="name"> 
        <span>
            <span>Olá Seja bem-vindo(a),</span><br> 
        </span>Eu sou<br>
       <span>Rodrigo Gomes</span><br>
        <span>$echo PHP Developer</span>

   
    </div>
</div>
